asgiref==3.8.1
astroid==3.3.9
colorama==0.4.6
dill==0.4.0
Django==5.1.7
isort==6.0.1
mccabe==0.7.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.2.0
mysqlclient==2.2.7
platformdirs==4.3.7
pylint==3.3.7
PyMySQL==1.1.1
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
